In [1]:
import setwebscrape as scraper
from tqdm import tqdm

In [2]:
symbols = scraper.load_json("SET_symbols.json")

In [3]:
company_highlights = {}
FILENAME = "SET_companyHighlights.json"

for prefix, symbols_list in tqdm(symbols.items()):
    for symbol in (symbols_list):
        data = scraper.get_company_highlights(symbol)
        company_highlights[symbol] = data
    scraper.save_dict_to_json(company_highlights, FILENAME)
print(f"Saved to {FILENAME}")

100%|███████████████████████████████████████████| 27/27 [02:35<00:00,  5.75s/it]

Saved to SET_companyHighlights.json

In [4]:
comp_hl = scraper.load_json("SET_companyHighlights.json")

In [5]:
sym = 'PTT'
scraper.show_company_highlights(comp_hl[sym])

*** PTT | FinancialData ***

,Y/E '18 31/12/2018,Y/E '19 31/12/2019,Y/E '20 31/12/2020,Q3 '21 30/09/2021
Assets,2355483.87,2484438.68,2544182.88,2970002.00
Liabilities,1036989.52,1183399.06,1258337.79,1535241.91
Equity,875083.83,878604.11,882040.40,978628.72
Paid-up Capital,28563.00,28563.00,28563.00,28563.00
Revenue,2353090.01,2239718.62,1633977.16,1592391.52
Profit (Loss) from Other Activities,14868.53,21320.82,15713.74,-36321.08
Net Profit,119683.94,92950.60,37765.81,80819.10
EPS (Baht),4.15,3.20,1.32,2.82
ROA(%),10.75,7.56,3.72,7.88
ROE(%),14.13,10.60,4.29,10.12
Net Profit Margin(%),7.03,5.45,2.44,7.15

--------------------------------------------------

*** PTT | Statistics ***

,28/12/2018,30/12/2019,30/12/2020,30/12/2021,03/02/2022
Last Price(Baht),46.0,44.0,42.5,38.0,38.75
Market Cap.,1313897.83,1256771.83,1213927.34,1085393.86,1106816.1
F/S Period (As of date),30/09/2018,30/09/2019,30/09/2020,30/09/2021,30/09/2021
P/E,9.7,13.22,28.86,11.55,11.78
P/BV,1.54,1.45,1.38,1.11,1.13
Book Value per share (Baht),29.94,30.31,30.73,34.26,34.26
Dvd. Yield(%),4.35,4.55,4.71,2.63,2.58